amqp==2.3.2
appdirs==1.4.3
appnope==0.1.0
backcall==0.1.0
beautifulsoup4==4.6.0
billiard==3.5.0.4
bleach==3.1.0
bs4==0.0.1
captcha==0.2.4
celery==4.2.1
certifi==2018.4.16
chardet==3.0.4
cssselect==1.0.3
decorator==4.3.0
Django==2.0.12
django-appconf==1.0.3
django-celery-email==2.0.2
django-celery-results==1.0.1
django-recaptcha==1.4.0
django-widget-tweaks==1.4.2
docutils==0.15.2
entrypoints==0.3
fake-useragent==0.1.10
idna==2.7
importlib-metadata==0.23
ipython==6.4.0
ipython-genutils==0.2.0
jedi==0.12.1
keyring==19.2.0
kombu==4.2.1
lxml==4.2.3
more-itertools==7.2.0
parse==1.8.4
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.4
Pillow==9.0.0
pkginfo==1.5.0.1
prompt-toolkit==1.0.15
psycopg2-binary==2.8.4
ptyprocess==0.6.0
pyee==5.0.0
Pygments==2.2.0
pyppeteer==0.0.19
pyquery==1.4.0
pytz==2018.5
readme-renderer==24.0
redis==2.10.6
requests==2.20.0
requests-html==0.9.0
requests-toolbelt==0.9.1
simplegeneric==0.8.1
six==1.11.0
soupsieve==1.9.5
tqdm==4.39.0
traitlets==4.3.2
twine==3.1.1
urllib3==1.24.2
vine==1.1.4
w3lib==1.19.0
wattpad-ebook==1.0.1
wcwidth==0.1.7
webencodings==0.5.1
websockets==6.0
zipp==0.6.0
