{% extends 'base.html' %}
{% block body %}
    <div class="container">
        <section class="section">
            <div class="container has-text-centered">
                <h1 class="title">FAQ - Frequently Asked Questions</h1>

            </div>
        </section>
        <section class="section">
            <div class="container">
                <div class="column">
                    <div class="column is-6">
                        <div class="content">
                            <ul>
                                <li>Bạn không thấy email hoặc ebook của chúng tôi?
                                    <article class="message is-info">
                                        <div class="message-body">
                                            <p>Vui lòng kiểm tra hòm thư Spam, nếu vẫn không thấy vui lòng liên hệ chúng
                                                ta qua Facebook</p>
                                        </div>
                                    </article>
                                </li>
                                <li>Bạn bị vấn đề khác?</li>
                                <article class="message is-warning">
                                    <div class="message-body">
                                        <p>Vui lòng liên hệ với tôi qua Facebook</p>
                                    </div>
                                </article>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
